@page "/aspnetcore-abp-blazor/2020"

@using Blog.MVP.Blazor.Models

@inject HttpClient Http


<div class="container mt-4 mb-5">
    <div class="row">
        <section class="col-lg-9 col-md-12">

            <ArtTitle Title="ASP.NET Core (2020)" Subtitle="Best and Fastest Frame" />

            <hr>

            @if (_blogs != null)
            {
                foreach (var item in _blogs.response.data)
                {
                    <ArtBody bID="@item.bID"  btitle="@item.btitle" bcontent="@item.bcontent" bCreateTime="@item.bCreateTime" btraffic="@item.btraffic" />
                }
            }

        </section>
       
        <Author />


    </div>
</div>

@code {
    private MessageModel<PageModel<BlogArticle>> _blogs;

    protected override async Task OnInitializedAsync()
    {
        var students = await Http.GetJsonAsync<MessageModel<PageModel<BlogArticle>>>("/api/Blog?page=1&bcategory=MVP_aspnetcore-abp-blazor_2020&intPageSize=50");
        this._blogs = students;
    }
}